progress {
    display: block;
    margin: 0 auto 10px auto;
    width: 60%;
}

.p-total {
    height: 3em;
    width: 80%;
}

body {
    text-align: center;
    background: url(imageback.jpg) no-repeat center center fixed;
    background-size: cover;
    background-image: url(imageback.jpg) no-repeat center center fixed;
    background-position: 100%;
}

.form-control{
    color: black;

}

label {
    color: white;
}

